<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>com.gabe565.stopwatch Property Inspector</title>
    <link rel="stylesheet" href="../../../libs/css/sdpi.css" />
  </head>
  <body>
    <div class="sdpi-wrapper">
      <hr class="tab-separator" />
      <form id="property-inspector">
        <div type="range" class="sdpi-item">
          <label for="hold_clear_time" class="sdpi-item-label" data-localize
            >Hold to Clear Time</label
          >
          <div class="sdpi-item-value">
            <span class="clickable">150ms</span>
            <input type="range" min="150" max="500" id="hold_clear_time" name="holdToClearTime" />
            <span class="clickable">700ms</span>
          </div>
        </div>

        <div type="color" class="sdpi-item">
          <label for="text_color" class="sdpi-item-label" data-localize>Text Color</label>
          <input id="text_color" type="color" class="sdpi-item-value" name="textColor" />
        </div>

        <div type="color" class="sdpi-item">
          <label for="frame_color" class="sdpi-item-label" data-localize>Frame Color</label>
          <input id="frame_color" type="color" class="sdpi-item-value" name="frameColor" />
        </div>
      </form>
    </div>

    <!-- Stream Deck Libs -->
    <script src="../../../libs/js/constants.js"></script>
    <script src="../../../libs/js/prototypes.js"></script>
    <script src="../../../libs/js/timers.js"></script>
    <script src="../../../libs/js/utils.js"></script>
    <script src="../../../libs/js/events.js"></script>
    <script src="../../../libs/js/api.js"></script>
    <script src="../../../libs/js/property-inspector.js"></script>
    <script src="../../../libs/js/dynamic-styles.js"></script>

    <!-- Property Inspector Source -->
    <script src="../../../js/const.js"></script>
    <script src="inspector.js"></script>
  </body>
</html>
